body {
    background-color: #fafafb;
    /* font-family: 'Domine', sans-serif; */
    /* font-family: 'Bree Serif', sans-serif; */
    font-family: 'Open Sans', sans-serif;

}

.tabs {
    font-size: 18px;
    text-align: center;
}

img.img-responsive.logo {
    width: 7.6em;
}

a.navbar-brand {
    padding: 3px 10px 0px 10px;
}

form.form-group.col-md-6.pull-right {
    padding: 0px;
}

button.btn.btn-primary.pull-right {
    margin: 10px 0px;
}

.question-desc h3 {
    font-size: 10px !important;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings' !important;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

section.col-md-12.question.question-type-normal {
    padding: 40px;
}

table.table.table-striped.table-responsive {
    margin: 30px 0px;
}

p.about-p {
    font-size: 15px;
}

.steemaskholder {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #dedede;
    background: #FFF;
    -moz-box-shadow: 0 0 5px #dedede;
    -webkit-box-shadow: 0 0 5px #dedede;
    box-shadow: 0 0 5px #dedede;
    position: relative;
}

.faq {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 30px;
    padding: 20px 40px;
    border: 1px solid #dedede;
    background: #FFF;
    -moz-box-shadow: 0 0 5px #dedede;
    -webkit-box-shadow: 0 0 5px #dedede;
    box-shadow: 0 0 5px #dedede;
    position: relative;
}

.question {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #dedede;
    background: #FFF;
    -moz-box-shadow: 0 0 5px #dedede;
    -webkit-box-shadow: 0 0 5px #dedede;
    box-shadow: 0 0 5px #dedede;
    position: relative;
}

.question-desc {
    margin-bottom: 20px;
    padding-bottom: 30px;
    line-height: 22px;
    font-size: 13px;
    border-bottom: 1px solid #dedede;
    color: #848991;
}

.navbar-inverse {
    z-index: 100;
    padding: 10px 50px;
    margin: 0px;
    border-bottom: 1px solid #326a9a;
    background: #337ab7;
}

h4.navbar-text-logo {
    padding: 0px;
    margin: 0px;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
}

.fixed-tab {
  background: #286ba5;
  border-bottom: 1px solid #215e94;
  box-shadow: 0 3px 9px 0 rgba(0,0,0,.1);
  height: 34px;
  padding: 2px 0;
  z-index: 1;
  position: relative;
  padding: 8px 50px;
}

.fixed-downtab {
  background: #fff;
  box-shadow: 0 3px 9px 0 rgba(0,0,0,.1);
  height: 50px;
  padding: 2px 0;
  border-bottom: 1px solid #e5e5e5;
  z-index: 1;
  position: relative;
  padding: 0px 50px;
  margin-bottom: 30px;
}

h5.q-title {
    color: #337ab7;
    font-size: 17px;
    font-weight: 600;
}

a.signup-a {
    color: #032c3e;
}

.ask {
    color: #fff;
    text-decoration: none;
    background: #337ab7;
    padding: 17px;
    margin-top: 4px;
    display: block;
    border: 1px solid #337ab7;
    padding: 16px 20px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 40px;
}

.ask:hover{
    text-decoration: none;
    background: #337ab7;
    transition: 0.5s;
    color: #fff;
}

.nav>li {
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 11.5px;
    margin: 0px 30px 0px 0px;
    font-weight: 600;
}

.fixed-downtab li {
  position: relative;
  display: inline-block;
  color: #1f1f1f;
  font-size: 14px;
  font-weight: bold;
  margin: 0px 30px 0px 0px;
}

.container.home-container {
    padding: 30px;
}

.content-block {
    margin-bottom: 25px;
}

.tags-block {
    margin-top: 10px;
}

h4.topic {
    margin-left: 65px;
    line-height: 20px;
}

span.topic-span {
    font-size: 15.5px;
}

img.profile-img-dashboard.img-responsive {
    min-width: 40px;
    width: 40px;
    height: 40px;
    display: inline !important;
    border-radius: 50%;
    margin-right: 10px;
}

img.avatar.img-responsive {
    min-width: 40px;
    width: 40px;
    height: 40px;
    display: inline !important;
    border-radius: 50%;
    margin-right: 10px;
    float: left;
}

h5.welcome {
    color: #fff;
    font-weight: 600;
    float: left;
    margin: 12px 0px;
}

.other-block {
    margin-left: 62px;
    /* display: inline; */
}

a.question-a {
    font-weight: 600;
    font-size: 20px;
    color: #337ab7;
}

a:hover{
    text-decoration: none;
}

h5.comment-count {
    display: inline;
    margin-right: 25px;
    font-weight: 600;
    color: #337ab7;
}

h5.upvote-count {
    display: inline;
    margin-right: 25px;
    font-weight: 600;
    color: #337ab7;
}

.username-dashboard {
    display: inline;
    font-size: 14px;
    font-weight: 600;
    color: #337ab7;
}

.time-dashboard {
    display: inline;
    margin-right: 25px;
    font-weight: 600;
    color: #337ab7;
}

.payout-dashboard {
    display: inline;
    margin-top: 15px;
    font-weight: 600;
    color: #337ab7;
    /* margin: 0px; */
}

a.tags {
    /* text-transform: lowercase; */
    display: inline-block;
    line-height: 20px;
    height: 23px;
    color: #337ab7;
    padding: 0 8px;
    border-radius: 4px;
    border: 1px solid #337ab7;
    font-weight: 600;
    font-size: 10px;
    -webkit-transition: all .3s cubic-bezier(.215,.61,.355,1);
    -o-transition: all .3s cubic-bezier(.215,.61,.355,1);
    transition: all .3s cubic-bezier(.215,.61,.355,1);
    opacity: 1;
    margin-right: 8px;
    cursor: pointer;
    white-space: nowrap;
}

a.tags:hover  {
    text-decoration: none;
}

p.user-ask.pull-right {
    margin: -20px 0px 0px 0px;
}

section.col-md-12.content-left {
  /* height: 200px; */
  max-height: 240px;
  background: #fff;
  box-sizing: border-box;
  padding: 30px;
  border: 1px solid #efefef;
  /* box-shadow: 0 3px 9px 0 rgba(0,0,0,.1); */
  /* border-radius: 6px; */
  overflow: hidden;
  margin-bottom: 20px;
}

footer {
    background: #337ab7;
    padding: 30px 0px;
    color: #fff;
}

li {
    list-style-type: none;
}

footer a {
    color: #fff;
    font-weight: 600;
}

.apps {
    margin-bottom: 20px;
}

.content-right {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 30px;
  border: 1px solid #dedede;
  background: #FFF;
  -moz-box-shadow: 0 0 5px #dedede;
  -webkit-box-shadow: 0 0 5px #dedede;
  box-shadow: 0 0 5px #dedede;
  position: relative;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome !important;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0,0);
    margin-right: 5px;
}


@media (max-width:768px) {

  .fixed-downtab {
    margin: 0px;
  }

  h5.upvote-count {
    margin-right: 0px;
    font-size: 11px;
  }

  .username-dashboard {
    font-size: 11px;
  }

  .time-dashboard {
    font-size: 11px;
  }

  h5.comment-count {
    font-size: 11px;
  }

  article.question.question-type-normal {
    padding: 20px 25px;
  }

  a.question-a {
    font-size: 22px;
  }

  .navbar-nav {
    margin: 0px;
    display: none;
  }

  ul.nav.navbar-nav.navbar-right {
    display: none;
  }

}
